<div class="container">
  <h2>ユーザー一覧</h2>

  <% @users.each do |user| %>
    <div class="row">
      <div class="col-md-2">
        <%= profile_img(user) %>
        </br>
        <%= link_to user.name, user %>
        </br>
        <%= user.email %>
        </br>
        <%= render 'follow_form', user: user %>
      </div>
    </div>

    <% if user.id != current_user.id %>
  <li>
    <div class="item">
      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
    </div>
    <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
  </li>
  <% end %>

  <% end %>

</div>
