<% @user.followed_users.each do |user| %>
 <p><%= user.name %>
 <%= profile_img(user)%>
 <%= user.email %></p>
 <%= user.followed_users %>
<% end %>

<% @user.followers.each do |user| %>
 <p> <%= user.name %>
 <%= profile_img(user)%>
 <%= user.email %></p>
 <%= user.followers %>
<% end %>